<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      {{if eq .menu "home"}}
      <title>Pegawai | WorkAway</title>
      {{else if eq .menu "permohonan"}}
      <title>Permohonan | WorkAway</title>
      {{else if eq .menu "viewPermohonan"}}
      <title>Detail Permohonan | WorkAway</title>
      {{else if eq .menu "penugasan"}}
      <title>Penugasan | WorkAway</title>
      {{else if eq .menu "sppd"}}
      <title>SPPD | WorkAway</title>
      {{else if eq .menu "laporan"}}
      <title>Laporan | WorkAway</title>
      {{else if eq .menu "profile"}}
      <title>Profile | WorkAway</title>
      {{end}}
      <link rel="stylesheet" href="/static/css/bootstrap.min.css">
      <link rel="stylesheet" href="/static/css/sidebar.css">
  </head>
  <body>
    <nav class=" sidebar h-100">
        <header class="position-relative">
            <div class="image-text">
                <a href="/wp/{{.userId}}/home" class="image">
                    <img id="gambar" src="/static/img/WORKAWAY.png" alt="logo">
                </a>
            </div>
        </header>
        <div class="menu-bar">
            <div class="menu">
                <div class="menu-links">
                    <li class="nav-items mt-4 align-items-center">
                        <a href="/wp/{{.userId}}/home" class="w-100 h-100 text-decoration-none align-items-center">
                            <span class="text">Home</span>
                        </a>
                    </li>
                    <li class="nav-items mt-4 align-items-center">
                        <a href="/wp/{{.userId}}/permohonan" class="w-100 h-100 text-decoration-none align-items-center">
                            <span class="text">Permohonan</span>
                        </a>
                    </li>
                    <li class="nav-items mt-4 align-items-center">
                        <a href="/wp/{{.userId}}/sppd" class="w-100 h-100 text-decoration-none align-items-center">
                            <span class="text">SPPD</span>
                        </a>
                    </li>
                    <li class="nav-items mt-4 align-items-center">
                        <a href="/wp/{{.userId}}/laporan" class="w-100 h-100 text-decoration-none align-items-center">
                            <span class="text">Laporan</span>
                        </a>
                    </li>
                </div>
            </div>
            <div class="bottom-content">
                <li class="mt-4 align-items-center dropdown open">
                    <a href="/wp/{{.userId}}/profile" class="w-100 h-100 text-decoration-none align-items-center">
                        <span class="text">Profile</span>
                    </a>
                </li>
                <li class="mt-4 align-items-center">
                    <a href="/logout" class="w-100 h-100 text-decoration-none align-items-center">
                        <span class="text">Logout</span>
                    </a>
                </li>
            </div>
        </div>
    </nav>
    <main id="main" class="w-100">
        {{if eq .menu "home"}}
        <section id="home">
            <h1 class="fw-bold">Dashboard</h1>
            <div class="container mt-5">
                <div class="row">
                    <div class="col-md-6 mb-4">
                        <a class="home card text-black-50 text-decoration-none" href="/wp/{{.userId}}/permohonan">
                            <div class="card-body">
                                <h5 class="card-title fw-bold">Permohonan</h5>
                                <ul class="list-group">
                                    <li class="alert-info list-group-item d-flex justify-content-between align-items-center">
                                        Belum Dikonfirmasi <span class="badge bg-primary badge-pill">{{.index.Permohonan.Belum}}</span>
                                    </li>
                                    <li class="alert-info list-group-item d-flex justify-content-between align-items-center">
                                        Disetujui<span class="badge bg-success badge-pill">{{.index.Permohonan.Approved}}</span>
                                    </li>
                                    <li class="alert-info list-group-item d-flex justify-content-between align-items-center">
                                        Ditolak<span class="badge bg-danger badge-pill">{{.index.Permohonan.Reject}}</span>
                                    </li>
                                </ul>
                            </div>
                        </a>
                    </div>
            
                    <div class="col-md-6 mb-4">
                        <a class="home card text-black-50 text-decoration-none" href="/wp/{{.userId}}/sppd">
                            <div class="card-body ">
                                <h5 class="card-title fw-bold">Penugasan</h5>
                                <ul class="list-group">
                                    <li class="alert-heading list-group-item d-flex justify-content-between align-items-center">
                                        Belum Terlaksana<span class="badge bg-primary badge-pill">{{.index.Penugasan.Belum}}</span>
                                    </li>
                                    <li class="alert-info list-group-item d-flex justify-content-between align-items-center">
                                        Sudah Terlaksana<span class="badge bg-success badge-pill">{{.index.Penugasan.Sudah}}</span>
                                    </li>
                                </ul>
                            </div>
                        </a>
                    </div>
                </div>
            
                <div class="row">
                    <div class="col-md-6 mb-4">
                        <a class="home card text-black-50 text-decoration-none" href="/wp/{{.userId}}/laporan">
                            <div class="card-body">
                                <h5 class="card-title fw-bold">Laporan Aktivitas</h5>
                                <ul class="list-group">
                                    <li class="alert-info list-group-item d-flex justify-content-between align-items-center">
                                        Belum Dikonfirmasi <span class="badge bg-primary badge-pill">{{.index.Aktivitas.Belum}}</span>
                                    </li>
                                    <li class="alert-info list-group-item d-flex justify-content-between align-items-center">
                                        Disetujui<span class="badge bg-success badge-pill">{{.index.Aktivitas.Approved}}</span>
                                    </li>
                                    <li class="alert-info list-group-item d-flex justify-content-between align-items-center">
                                        Ditolak<span class="badge bg-danger badge-pill">{{.index.Aktivitas.Reject}}</span>
                                    </li>
                                </ul>
                            </div>
                        </a>
                    </div>
            
                    <div class="col-md-6 mb-4">
                        <a class="home card text-black-50 text-decoration-none" href="/wp/{{.userId}}/laporan">
                            <div class="card-body">
                                <h5 class="card-title fw-bold">Laporan Anggaran</h5>
                                <ul class="list-group">
                                    <li class="alert-info list-group-item d-flex justify-content-between align-items-center">
                                        Belum Dikonfirmasi<span class="badge bg-primary badge-pill">{{.index.Anggaran.Belum}}</span>
                                    </li>
                                    <li class="alert-info list-group-item d-flex justify-content-between align-items-center">
                                        Disetujui<span class="badge bg-success badge-pill">{{.index.Anggaran.Approved}}</span>
                                    </li>
                                    <li class="alert-info list-group-item d-flex justify-content-between align-items-center">
                                        Ditolak<span class="badge bg-danger badge-pill">{{.index.Anggaran.Reject}}</span>
                                    </li>
                                </ul>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </section>
        {{else if eq .menu "permohonan"}}
        <section id="permohonan">
            <div class="d-flex justify-content-between">
                <h1 class="fw-bold">Permohonan</h1>
                <div class="text-end mx-5">
                    <a href="/wp/{{.userId}}/permohonan?c=true" id="newPerm" class="btn btn-primary">Buat</a>
                </div>
            </div>
            <div class="list-table my-4 px-5 w-100">
                <table class="table table-hover text-center">
                    <thead>
                        <tr>
                        <th scope="col">No</th>
                        <th scope="col">Id</th>
                        <th scope="col">Jenis Program</th>
                        <th scope="col">Tujuan Lokasi</th>
                        <th scope="col">Tanggal Mulai</th>
                        <th scope="col">Tanggal Akhir</th>
                        <th scope="col">Detail Permohonan</th>
                        <th scope="col">Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{range $index, $data := .permohonan}}
                        <tr>
                        <th scope="row">{{index $index}}</th>
                        <td>{{$data.Id}}</td>
                        <td>{{$data.JenisProgram}}</td>
                        <td>{{$data.LokasiTujuan}}</td>
                        <td>{{$data.TglAwal}}</td>
                        <td>{{$data.TglAkhir}}</td>
                        <td>
                            <a href="/wp//permohonan?v={{$data.Id}}" class="view btn btn-warning">Lihat</a>
                        </td>
                        <td>
                            {{if eq $data.Status "0"}}
                            Belum Dikonfirmasi
                            {{else if eq $data.Status "1"}}
                            Sudah TTD
                            {{else if eq $data.Status "2"}}
                            Ditolak
                            {{else}}
                            Status Tidak Dikenali 
                            {{end}}
                        </td>
                        </tr>        
                        {{end}}
                    </tbody>
                </table>
            </div>
            <input type="hidden" name="" id="suratIds" value="{{.suratIds}}">
        </section>
        
        {{else if eq .menu "newPermohonan"}}
        <section id="newPermohonan">
            <a href="/wp/{{.userid}}/permohonan" id="back" class="btn btn-dark">Back</a>
            <h1 class="text-center text-capitalize fw-bold">Permohonan Baru</h1>
            <div style="margin: 0 50px;" class="px-5">
                <form class="form " method="post" enctype="multipart/form-data">
                    <div class="row px-5">
                        <div id="surat" class="col row w-auto">
                            <div class="form-group mb-3 row">
                                <label class="col-sm-4 col-form-label" for="lokasi">Lokasi Tujuan</label>
                                <div class="col-sm-5 w-50">
                                    <input class="form-text form-control" type="text" name="lokasi" id="lokasi" autocomplete="off" required />
                                </div>
                            </div>
                            <div class="form-group mb-3 row">
                                <label class="col-sm-4 col-form-label" for="jenis">Jenis Program</label>
                                <div class="col-sm-5 w-50">
                                    <input class="form-text form-control" name="jenis" id="jenis" required />
                                </div>
                            </div>
                            <div class="form-group mb-3 row">
                                <label class="col-sm-4 col-form-label" for="awal">Tanggal Awal</label>
                                <div class="col-sm-5 w-50">
                                    <input type="date" class="form-control" name="awal" id="awal" required />
                                </div>
                            </div>
                            <div class="form-group mb-3 row">
                                <label class="col-sm-4 col-form-label" for="akhir">Tanggal Akhir</label>
                                <div class="col-sm-5 w-50">
                                    <input type="date" class="form-control" name="akhir" id="akhir" required />
                                </div>
                            </div>
                            <div class="form-group mb-3 row">
                                <label class="col-sm-4 col-form-label" for="pendukung">Dokumen Pendukung</label>
                                <div class="col-sm-5 w-50">
                                    <input class="form-control form-control-file" type="file" name="pendukung" id="pendukung" accept=".pdf" required />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="person" class="mx-5">
                        <div class="form-switch">
                            <input class="form-check-input checkbox p-2" type="checkbox" id="flexSwitchCheckDefault" />
                            <label class="form-check-label" for="flexSwitchCheckDefault">Berkelompok</label>
                        </div>
                        <div class="my-2 w-100">
                            <div id="participan-container" class="row g-4 form-group col"></div>
                        </div>
                        <div id="partcipan-list" class="block"></div>
                    </div>
                    <div id="submit-container" class="my-4">
                        <button id="submit" class="btn btn-block btn-primary shadow-sm w-100" type="submit">Submit</button>
                    </div>
                </form>
            </div>
        </section>
        
        {{else if eq .menu "viewPermohonan"}}
        <section id="viewPermohonan">
            <a href="/wp/{{.userId}}/permohonan" id="back" class="btn btn-dark">Back</a>
            <h2 class="my-4">Data Permohonan Perjalanan Dinas</h2>
                <div class="mx-4 py-3">
                    <div id="ketua" class="">
                        {{if gt .lenP 0}}
                        <div class="">
                            <h2>Ketua Kelompok</h2>
                        </div>
                        {{end}}
                        <div class="my-1">
                            <label class="form-label">Nama Lengkap: </label>
                            <input class="form-control form-text" value="{{.permohonan.UserName}}" readonly/>
                        </div>
                        <div class="my-1">
                            <label class="form-label">NIP: </label>
                            <input class="form-control form-text" value="{{.permohonan.UserNIP}}" readonly/>
                        </div>
                        <div class="my-1">
                            <label class="form-label">Email: </label>
                            <input class="form-control form-text" value="{{.permohonan.UserEmail}}" readonly/>
                        </div>
                        <div class="my-1">
                            <label class="form-label">No Telepon: </label>
                            <input class="form-control form-text" value="{{.permohonan.UserNoTelp}}" readonly/>
                        </div>
                    </div>
                    <br>
                    {{if gt .lenP 0}}
                    <div id="participans" class="">
                        <h2>Anggota</h2>
                        <table class="table table-hover table-responsive table-bordered table-striped">
                        <thead>
                            <tr>
                            <th scope="col">No</th>
                            <th scope="col">Nama Lengkap</th>
                            <th scope="col">NIP</th>
                            <th scope="col">Email</th>
                            <th scope="col">No Telepon</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{range $index, $data := .permohonan.Participans}}
                            <tr>
                                <th scope="row">{{index $index}}</th>
                                <td>{{$data.Name}}</td>
                                <td>{{$data.NIP}}</td>
                                <td>{{$data.Email}}</td>
                                <td>{{$data.NoTelp}}</td>
                            </tr>
                            {{end}}
                        </tbody>
                        </table>
                    </div>
                    <br>
                    {{end}}
                    <div id="detail" class="">
                        <h2>Detail Permohonan</h2>
                        <div class="my-1">
                            <label class="form-label">Lokasi Tujuan: </label>
                            <input class="form-control form-text input" value="{{.permohonan.LokasiTujuan}}" readonly/>
                        </div>
                        <div class="my-1">
                            <label class="form-label">Jenis Program: </label>
                        <input class="form-control form-text input" value="{{.permohonan.JenisProgram}}" readonly/>
                        </div>
                        <div class="my-1">
                            <label class="form-label">Tanggal Mulai: </label>
                            <input class="form-control form-text " type="date" value="{{.permohonan.TglAwal}}" readonly/>
                        </div>
                        <div class="my-1">
                            <label class="form-label">Tanggal Selesai: </label>
                            <input class="form-control form-text " type="date" value="{{.permohonan.TglAkhir}}" readonly/>
                        </div>
                        <div class="my-1">
                            <label class="form-label">Tanggal Permohonan: </label>
                            <input class="form-control form-text " type="text" value="{{.permohonan.CreateAt}}" readonly/>
                        </div>
                        <div class="my-1">
                            <label class="form-label">Dokumen Pendukung: </label>
                            <a class="form-control form-text " href="data:application/pdf;base64,{{.permohonan.DokPendukungPdf}}" download="{{.permohonan.DokPendukungName}}" target="_blank" rel="noopener noreferrer">
                                dokumen.pdf
                            </a>
                        </div>
                    </div>
                </div>
        </section>
        
        {{else if eq .menu "sppd"}}
        <section id="sppd">
            <h1 class="fw-bold">SPPD</h1>
            <div class="table-container px-5 my-4">
                <table class="table table-hover text-center">
                    <thead>
                        <tr>
                        <th scope="col">No</th>
                        <th scope="col">Id</th>
                        <th scope="col">Jenis Program</th>
                        <th scope="col">Tujuan Lokasi</th>
                        <th scope="col">Tanggal Mulai</th>
                        <th scope="col">Tanggal Akhir</th>
                        <th scope="col">SPPD</th>
                        <th scope="col">Anggaran</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{range $index, $data := .sppds}}
                        <tr>
                        <th scope="row">{{index $index}}</th>
                        <td>{{$data.Id}}</td>
                        <td>{{$data.JenisProgram}}</td>
                        <td>{{$data.LokasiTujuan}}</td>
                        <td>{{$data.TglAwal}}</td>
                        <td>{{$data.TglAkhir}}</td>
                        <td>
                            <a href="data:application/pdf;base64,{{$data.DokumenPDF}}" download="{{$data.DokumenName}}" class="btn btn-warning" >
                                Lihat
                            </a>
                        </td>
                        <td>
                            <a href="data:application/pdf;base64,{{$data.Rincian.DokPDF}}" download="{{$data.Rincian.DokName}}" class="btn btn-info" >
                                Lihat
                            </a>
                        </td>
                        </tr>        
                        {{end}}
                    </tbody>
                </table>
            </div>
        </section>
        
        {{else if eq .menu "laporan"}}
        <section id="laporan">
            <h1 class="fw-bold">Laporan</h1>
            <div class="table-container px-5 my-4">
                <table class="table table-hover text-center">
                    <thead>
                        <tr>
                            <th scope="col">No</th>
                            <th scope="col">Id</th>
                            <th scope="col">Jenis Program</th>
                            <th scope="col">Tujuan Lokasi</th>
                            <th scope="col">Tanggal Mulai</th>
                            <th scope="col">Tanggal Akhir</th>
                            <th scope="col">Laporan</th>
                            <th scope="col">Status Pimpinan</th>
                            <th scope="col">Status Keuangan</th>
                            <th scope="col">Status Tambahan</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{range $index, $data := .surats}}
                        {{if or (eq $data.StatusPimpinan "2") (eq $data.StatusKeuangan "2")}}
                        <tr style="background-color: rgba(255, 0, 0, 0.206);">
                        {{else}}
                        <tr>
                            {{end}}
                            <th scope="row">{{index $index}}</th>
                            <td>{{$data.Id}}</td>
                            <td>{{$data.JenisProgram}}</td>
                            <td>{{$data.LokasiTujuan}}</td>
                            <td>{{$data.TglAwal}}</td>
                            <td>{{$data.TglAkhir}}</td>
                            <td>
                                <a class="view btn btn-warning">Lihat</a>
                            </td>
                            <td>
                                {{if eq $data.StatusPimpinan "0"}}
                                Belum Dikonfirmasi
                                {{else if eq $data.StatusPimpinan "1"}}
                                Disetujui
                                {{else if eq $data.StatusPimpinan "2"}}
                                Perlu Revisi
                                {{else if eq $data.StatusPimpinan ""}}
                                Belum Upload Laporan
                                {{end}}
                            </td>
                            <td>
                                {{if eq $data.StatusKeuangan "0"}}
                                Belum Dikonfirmasi
                                {{else if eq $data.StatusKeuangan "1"}}
                                Disetujui
                                {{else if eq $data.StatusKeuangan "2"}}
                                Revisi
                                {{else if eq $data.StatusKeuangan ""}}
                                Belum Upload Laporan
                                {{end}}
                            </td>
                            <td>
                                <h4>
                                    {{if or (eq $data.Message " ") (eq $data.Message "OK")}}
                                    -
                                    {{else if eq $data.Message ""}}
                                    -
                                    {{else}}
                                    {{$data.Message}}
                                    {{end}}
                                </h4>    
                            </td>
                        </tr>
                        {{end}}
                </tbody>
                </table>
            </div>
            <input type="hidden" id="suratIds" value="{{.suratIds}}"/>
        </section>
        
        {{else if eq .menu "uploadLap"}}
        <section id="uploadLap">
            <div>
                <a href="/wp/{{.userId}}/laporan" class="btn btn-dark">Back</a>
                <h2>Detail SPPD</h2>
            </div>
    
            <div class="d-flex flex-row">
                <div id="ketua" class="m-4 w-25">
                    {{if gt .lenP 0}}
                    <div class="">
                        <h2>Ketua Kelompok</h2>
                    </div>
                    {{end}}
                    <div>
                        <label class="form-label">Nama Lengkap: </label>
                        <input class="form-control form-text" value="{{.sppd.UserName}}" readonly/>
                    </div>
                    <div>
                        <label class="form-label">NIP: </label>
                        <input class="form-control form-text" value="{{.sppd.UserNIP}}" readonly/>
                    </div>
                    <div>
                        <label class="form-label">Email: </label>
                        <input class="form-control form-text" value="{{.sppd.UserEmail}}" readonly/>
                    </div>
                    <div>
                        <label class="form-label">No Telepon: </label>
                        <input class="form-control form-text" value="{{.sppd.UserNoTelp}}" readonly/>
                    </div>
                </div>
                <div id="detail" class="m-4 w-25 d-flex flex-column">
                    <div>
                        <label class="form-label">Lokasi Tujuan: </label>
                        <input class="form-control form-text input" value="{{.sppd.LokasiTujuan}}" readonly/>
                        <label class="form-label">Jenis Program: </label>
                        <input class="form-control form-text input" value="{{.sppd.JenisProgram}}" readonly/>
                    </div>
                    <div>
                        <label class="form-label">Tanggal Mulai: </label>
                        <input class="form-control form-text" type="date" value="{{.sppd.TglAwal}}" readonly/>
                    </div>
                    <div>
                        <label class="form-label">Tanggal Selesai: </label>
                        <input class="form-control form-text" type="date" value="{{.sppd.TglAkhir}}" readonly/>
                    </div>
                    
                </div>
            </div>
            {{if gt .lenP 0}}
            <div id="participans" class="m-4">
                <h2>Data Anggota</h2>
                <table class="table table-hover table-responsive table-bordered table-striped">
                    <thead>
                        <tr>
                            <th scope="col">No</th>
                            <th scope="col">Nama Lengkap</th>
                            <th scope="col">NIP</th>
                            <th scope="col">Email</th>
                            <th scope="col">No Telepon</th>
                        </tr>
                    </thead>
                    <tbody>
                    {{range $index, $data := .sppd.Participans}}
                    <tr>
                        <th scope="row">{{index $index}}</th>
                        <td>{{$data.Name}}</td>
                        <td>{{$data.NIP}}</td>
                        <td>{{$data.Email}}</td>
                        <td>{{$data.NoTelp}}</td>
                    </tr>
                    {{end}}
                    </tbody>
                </table>
            </div>
            {{end}}
            {{range $index, $data := .sppd.Laporan}}
            <div class="d-flex w-50 m-4 flex-column">
                {{if eq $index 0}}
                <label class="col-sm-4 form-label">Laporan Aktivitas: </label>
                {{else}}
                <label class="col-sm-4 form-label">Laporan Anggaran: </label>
                {{end}}
                
                {{if eq $data.DokName ""}}
                <span class="form-control form-text" style="background-color: rgba(255, 0, 0, 0.325);" >
                    Belum Upload File
                </span>
                
                {{if eq $index 0}}
                <form id="ak-form" method="post">
                    <input id="file-ak" class="form-control" type="file" accept=".pdf" hidden/>
                </form>
                <button id="butt-ak" type="button" class="btn btn-secondary">
                    <input type="hidden" value="add" />
                    Upload File
                </button>
                {{else}}
                <form id="ang-form" method="post">
                    <input id="file-ang" class="form-control" type="file" accept=".pdf" hidden/>
                </form>
                <button id="butt-ang" type="button" class="btn btn-secondary">
                    <input type="hidden" value="add" />
                    Upload File
                </button>
                {{end}}
    
                {{else if ne $data.DokName ""}}
                <div>
                    <a href="data:application/pdf;base64,{{$data.DokPDF}}" download="{{$data.DokName}}" class="form-control form-text" type="text" value="" readonly>
                        {{$data.DokName}}
                    </a>
                </div>
                
                {{if eq $data.Status "2"}}
                
                <h5>
                    {{$data.Message}}
                </h5>
                <div>
                    {{if eq $index 0}}
                <form id="ak-form" method="post">
                    <input id="file-ak" class="form-control" type="file" accept=".pdf" hidden/>
                </form>
                <button id="butt-ak" type="button" class="btn btn-secondary">
                    <input type="hidden" value="set" />
                    Ganti File
                </button>
                {{else}}
                <form id="ang-form" method="post">
                    <input id="file-ang" class="form-control" type="file" accept=".pdf" hidden/>
                </form>
                <button id="butt-ang" type="button" class="btn btn-secondary">
                    <input type="hidden" value="set" />
                    Ganti File
                </button>
                {{end}}
            </div>
    
                {{else if or (eq $data.Status "0") (eq $data.Status "")}}
    
                {{if eq $index 0}}
                <form id="ak-form" method="post">
                    <input id="file-ak" class="form-control" type="file" accept=".pdf" hidden/>
                </form>
                <button id="butt-ak" type="button" class="btn btn-secondary">
                    <input type="hidden" value="set" />
                    Ganti File
                </button>
                {{else}}
                <form id="ang-form" method="post">
                    <input id="file-ang" class="form-control" type="file" accept=".pdf" hidden/>
                </form>
                <button id="butt-ang" type="button" class="btn btn-secondary">
                    <input type="hidden" value="set" />
                    Ganti File
                </button>
                {{end}}
    
                {{end}}
    
                {{else if eq $data.Status "1"}}
                APPROVED
                {{end}}
    
            </div>
            {{end}}
            {{if eq .sppd.Gambar ""}}
            <h1 class="text-danger">Belum melakukan Presesi Foto</h1>
            {{end}}
            <input type="hidden" id="userId" value="{{.userIdS}}"/>
        </section>
        {{else if eq .menu "profile"}}
        <section id="profile">
            <h1>Profile</h1>
            <div class="d-flex justify-content-end">
                <button class="btn btn-warning mx-5" type="button" id="changePass">Ganti Password</button>
            </div>
            <div id="change-form" class="d-none">
                <form id="changeForm" class="px-5">
                    <div class="d-flex flex-column px-5" style="margin: 0px 250px;">
                        <div class="mb-3">
                            <label for="passwordLama" class="form-label">Password Lama:</label>
                            <input type="password" class="form-control form-text" name="passwordLama" id="passwordLama" autocomplete="off" placeholder="Password lama" required>
                        </div>
                        <div class="mb-3">
                            <label for="passwordBaru" class="form-label">Password Baru:</label>
                            <input type="password" class="form-control form-text" name="passwordBaru" id="passwordBaru" autocomplete="off" placeholder="Password baru" required>
                        </div>
                        <div class="d-grid">
                            <button id="change" type="button" class="btn btn-primary" >Submit</button>
                        </div>
                    </div>
                </form>
            </div>
            <div id="edit-form" class="">
                <form class="px-5">
                  <div>
                    <div class="d-grid mb-2">
                      <img id="userImage" class="img-thumbnail rounded float-start" src="{{ .user.Gambar }}" height="80px" width="80px" alt="" />
                    </div>
                    <div id="ganCon">
                      <button id="gantiImage" class=" btn btn-outline-primary" type="button">Ganti Foto</button>
                      <button id="saveImage" class="d-none btn btn-outline-warning" type="button">Save</button>
                    </div>
  
                    <input type="file" id="fileInput" style="display:none;" accept="image/*" onchange="displaySelectedImage()">
                  </div>
                  <div class="d-flex justify-content-between px-5">
                        <div style="min-width: 400px;">
                            <div class="mb-3">
                                <label for="name" class="form-label">Nama Lengkap:</label>
                                <input type="text" class="form-control form-text" name="name" id="name" autocomplete="off" value="{{.user.Name}}" readonly required>
                            </div>
                            <div class="mb-3">
                                <label for="nik" class="form-label">NIK:</label>
                                <input type="text" class="form-control form-text" name="nik" id="nik" autocomplete="off" value="{{.user.NIK}}" readonly required>
                            </div>
                            <div class="mb-3">
                                <label for="nip" class="form-label">NIP:</label>
                                <input type="text" class="form-control form-text" name="nip" id="nip" autocomplete="off" value="{{.user.NIP}}" readonly required>
                            </div>
                            <div class="mb-3">
                                <label for="npwp" class="form-label">NPWP:</label>
                                <input type="text" class="form-control form-text" name="npwp" id="npwp" autocomplete="off" value="{{.user.NPWP}}" readonly required>
                            </div>
                            
                        </div>
                        <div style="min-width: 400px;">
                            <div class="mb-3">
                                <label for="noTelp" class="form-label">Nomer Telepon:</label>
                                <input type="text" class="form-control form-text" name="noTelp" id="noTelp" autocomplete="off" value="{{.user.NoTelp}}" readonly required>
                            </div>
                            <div class="mb-3">
                                <label for="email" class="form-label">Email:</label>
                                <input type="email" class="form-control form-text" name="email" id="email" autocomplete="off" value="{{.user.Email}}" readonly required>
                            </div>
                            <div class="mb-3">
                                <label for="lahir" class="form-label">Tanggal Lahir:</label>
                                <input type="date" class="form-control form-text" name="lahir" id="lahir" value="{{.user.TglLahir}}" autocomplete="off" readonly required>
                            </div>
                            <div class="mb-3">
                                <label for="alamat" class="form-label">Alamat:</label>
                                <textarea style="min-height: 100px;" class="text-start form-control form-text" name="alamat" id="alamat" value="" autocomplete="off" readonly required>{{.user.Alamat}}</textarea>
                            </div>
                            
                        </div>
                    </div>
                    <div class="d-flex w-100 justify-content-center">
                        <button type="button" id="edit" class="btn btn-danger w-25 p-2">Edit Profile</button>
                    </div>
                </form>
            </div>
          </section>
        {{else}}
        <h1 style="font-weight: 700;">
            {{.menu}}
            404 Page NotFound
        </h1>
        {{end}}
    </main>
    
    <script>
        '{{if eq .menu "newPermohonan"}}'
        const dataGOId = []
        const dataGOName = []
        '{{range .data}}'
        dataGOId.push('{{.Id}}')
        dataGOName.push('{{.Name}}')
        '{{end}}'
        '{{end}}'
        '{{if eq .menu "viewPermohonan"}}'
        const backB = document.getElementById('back');
        const url = window.location.pathname;
        const userId = url.split('/')[2];
        backB.setAttribute('href','/wp/{{.userId}}/permohonan')
        '{{end}}'
    </script>
    <script src="/static/js/bootstrap.bundle.min.js"></script>
    {{if eq .menu "home"}}
    <!-- GAGAGAGAGAG -->
    {{else if eq .menu "permohonan"}}
    <!-- GAGAGAGAGAG -->
    <script src="/static/js/pegawai/pegawai-permohonan.js"></script>
    {{else if eq .menu "sppd"}}
    <!-- GAGAGAGAGAG -->
    {{else if eq .menu "viewPermohonan"}}
    <script src="/static/js/pegawai/view-permohonan.js"></script>
    {{else if eq .menu "newPermohonan"}}
    <script src="/static/js/pegawai/pegawai-new-permohonan.js"></script>
    {{else if eq .menu "laporan"}}
    <script src="/static/js/pegawai/pegawai-laporan.js"></script>
    {{else if eq .menu "profile"}}
    <script src="/static/js/profile.js"></script>
    {{else if eq .menu "uploadLap"}}
    <script src="/static/js/pegawai/pegawai-upload-laporan.js"></script>
    {{end}}
  </body>
</html>